<section>
  <div class="container components-container">
    <h2 class="component-title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL <span>TASTE</span> SENSATION
    </h2>
    <p class="component-text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="component-list">
      <li class="component-item">
        <img src="./images/components/component1-mobile.png" alt="" />
        <h3>Milk chocolate</h3>
      </li>
      <li class="component-item">
        <img src="./images/components/component2-mobile.png" alt="" />
        <h3>Milk</h3>
      </li>
      <li class="component-item">
        <img src="./images/components/component3-mobile.png" alt="" />
        <h3>Nuts</h3>
      </li>
      <li class="component-item">
        <img src="./images/components/component4-mobile.png" alt="" />
        <h3>Semi - sweet chocolate</h3>
      </li>
    </ul>
  </div>
</section>
