<header>
  <div class="container">
    <nav>
      <a href="#hero">Simply Chocolate</a>
      <ul>
        <li><a href="">Hero</a></li>
        <li><a href="">How it's made?</a></li>
        <li><a href="">Our products</a></li>
        <li><a href="">Top sellers</a></li>
        <li><a href="">Chocolate is loved</a></li>
      </ul>
      <ul>
        <li><a href="">Instagram</a></li>
        <li><a href="">Twitter</a></li>
      </ul>
      <button type="button">Burger menu</button>
    </nav>

    <div class="js-menu-container">
      <button type="button">Close</button>
      <div class="mobile-menu">
        <nav>
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="">How it's made?</a></li>
            <li><a href="">Our products</a></li>
            <li><a href="">Top sellers</a></li>
            <li><a href="">Chocolate is loved</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
