<header>
  <div class="container header-container">
    <nav class="nav-container">
      <a class="link-logo" href="#hero">
        <span>Simply</span> Chocolate
        <svg width="24px" height="24px">
          <use href="./images/icons.svg#logo"></use>
        </svg>
      </a>
      <ul class="section">
        <li><a href="#hero">Home</a></li>
        <li><a href="#made">How it's made?</a></li>
        <li><a href="#product">Our products</a></li>
        <li><a href="#seller">Top sellers</a></li>
        <li><a href="#loved">Chocolate is loved</a></li>
      </ul>
      <ul class="social">
        <li>
          <a href="https://www.instagram.com/">
            <svg width="24px" height="24px">
              <use href="./images/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/">
            <svg width="24px" height="24px">
              <use href="./images/icons.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
