<header class="header">
  <div class="container">
    <nav class="nav-container">
      <a class="link-logo" href="#hero">
        <p><span>Simply</span> Chocolate</p>
        <svg width="24" height="24">
          <use href="./images/icons.svg#logo-mobile"></use>
        </svg>
      </a>
      <button type="menu-toggle js-open-menu">
        <svg class="menu-button" width="28" height="28">
          <use class="" href="./images/icons.svg#burger-menu-mobile"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
